// Define variables for your color scheme

// For example:

$dim-gray: #656565;
$baby-pink: #F7C1BB;
$pink: #e7305b;
$black: #262424;
$white: #ffffff;
$magic-mint: #B2FFD6;
$aero-blue: #D7FDF0;
$dodger-blue: #1789FC;
