<div class="container">
  <ul style="list-style-type: none">
    <% @bookings.each do |booking| %>
      <li> book lended: <%= booking.book.title %> </li>
      <li> <%= booking.book.owner.username %> </li>
      <li> <%= current_user.username %> </li>
    <% end %>
  </ul>
</div>
