<div class="container form">
  <h4 style="font-family: Nunito" class="form-title">Create a booking</h4>
  <%= simple_form_for([@book, @booking]) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <br>
  <%= f.button :submit, "Ready", class: "btn-flat mb-5" %>
<% end %>
</div>

