<div class="container">
  <%= simple_form_for([@book, @booking]) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <br>
  <%= f.button :submit, "Ready", class: "btn-flat mb-5" %>
<% end %>
</div>

