<div class="container" id="About-info">
  <h1>Hi everyone!</h1>
  <p>Welcome to our first developed app as a team.</p>
  <p>Develop a passion for learning. If you do, you will never cease to grow.</p>
  <p>--Anthony J. D'Angelo--</p>
</div>
<br>
<div class="container" id="About-team">
  <h4>Lead Developer</h4>
  <p>Iben Flores</p>
  <h4>Developers</h4>
  <p> Product Manager: Jolie Adams</p>
  <p> Lead Designer: Mariana Galán</p>
  <p> Project Manager: José Luis Matías</p>
</div>
<div>
  <button class="btn-flat btn-flat:hover">
  <%= link_to "Return to home", root_path %>
  </button>
</div>
