<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512508561942-18fbe6d5d0cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
    <div class="container justify-content-center">
      <h1><strong>GET THE BOOK</strong></h1>
      <br>
      <p>Rent books you have. Borrow books you need.</p>
      <br>
      <div id="button_from_show">
        <%= link_to "Browse books", books_path, class: "btn btn-flat" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">

    <div class="card-category justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1482115016237-23bef6ae9f73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=741&q=80)">
      <%= link_to "About us", about_path, class: "btn btn-flat card-button" %>
    </div>

    <div class="card-category justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568667256531-7d5ac92eaa7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=358&q=80)">
      <%= link_to "Search for books", books_path, class: "btn btn-flat card-button" %>
    </div>

    <div class="card-category justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1581291519163-a10965fbff8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
      <%= link_to "Rent or lend now", books_path, class: "btn btn-flat card-button" %>
    </div>
  </div>
</div>



