<div class="container">
  <div class="row justify-content-center">
    <div class="banner col-12 col-lg-12">
      <h1>GET THE BOOK</h1>
      <p><%= link_to 'About us', about_path %></p>
      <p>Books for rental</p>
      <button class="btn-flat btn-flat:hover"><%= link_to "Search for books!", books_path %></button>
    </div>
  </div>
</div>

<div class="container">
  <h1><strong>Rent</strong> or <strong>Lend</strong></h1>
  <p>Living on a budget? Save some money and help other students get their books</p>
  <div class="row justify-content-center">
    <div class="text-justify info-card col-6 col-lg-3">
      <h1>Book title</h1>
      <p>Living on a budget? Save some money and help other students get their books</p>
    </div>
    <div class="text-justify info-card col-6 col-lg-3">
      <h1>Rent or Lend</h1>
      <p>Living on a budget? Save some money and help other students get their books</p>
    </div>
    <div class="text-justify info-card col-6 col-lg-3">
      <h1>Rent or Lend</h1>
      <p>Living on a budget? Save some money and help other students get their books</p>
    </div>
  </div>
</div>




