.banner {
  margin: 20px auto;
  height: 470px;
  padding: 20px;

  h1 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    color: $pink;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 120px;
    font-weight: bold;
    border-top: none;
    border-bottom: none;
  }
}

.banner-img {
  height: 510px;
}

