.btn-flat {
  color: $dim-gray;
  padding: 8px 24px;
  border-radius: 4px;
  background: $magic-mint;
  transition: background 0.3s ease;
  border: none;
  a {
    text-decoration: none;
    color: $dim-gray;
  }

  position: relative;
  left: 45%;
}

.btn-flat:hover {
  background: $aero-blue;
  color: white;
}

#button_from_show {
  text-align: center;
}
