.form {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.form-title {
  margin-top: 30px;
  color: gray;
}

.filler {
  text-align: center;
  width: 40%;
  display: block;
  margin: auto;
}
