#icon-show-page {
  text-align: center;
}


#icon-show-page-2 {
  text-align: center;
}

#container-for-icons {
  border: 2px solid;
  border-color: black;
  text-align: center

}

#icons-div {
  text-align: center;
}
