#table-contents {
text-align: center;
width: 90%;
margin: 0 auto;
}

#title-table {
text-align: center;
}

#book-owner {
  padding: 15px;
  background-color: white;
  border: 3px;
  border-color: black;
}

#inner-card {
  background-color: #ececec;
  text-align: justify;
  border-color: $dim-gray;
  width: 80%;
  display: flex;
  position: relative;
  left: 10%;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

#container-contents {
  padding: 50px;
  width: 60%;
  text-align: left;
  height: 550px;
  border: border-box;
}

#container-contents h5 {
  font-size: 19px;
  font-family: Nunito;
  font-weight: bolder;
}

#container-contents h4 {
  font-size: 22px;
  font-family: Nunito;
  font-weight: bold;
}


#container-image img {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 300px;
  height: 550px;
}

#div-icons {
  display: flex;
  position: relative;
  left: -140%;
  bottom: 15%;
}

#single-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: $baby-pink;
  width: 80px;
  padding: 20px;
}

#single-icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 80px;
  background-color: $baby-pink;
  padding: 20px;
}


