// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/card_product";

.background-color {
  background-color: #f7f5dd;
}

<<<<<<< HEAD
h1 {
  margin: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
=======
a {
  text-decoration: none;
>>>>>>> 1dd81c950a3070cfc28bb56b425b9b674e39f596
}
